/.vs
/Release-windows10-x64
/HappyGenyuanImsactUpdate/HappyGenyuanImsactUpdate/bin
/HappyGenyuanImsactUpdate/HappyGenyuanImsactUpdate/obj
/HappyGenyuanImsactUpdate/HappyGenyuanImsactUpdate/Properties
/HappyGenyuanImsactUpdate/HDiffPatchCreator/bin
/HappyGenyuanImsactUpdate/HDiffPatchCreator/obj
/HappyGenyuanImsactUpdate/HDiffPatchCreator/Properties