/.vs
/Release-windows10-x64
/HappyGenyuanImsactUpdate/bin
/HappyGenyuanImsactUpdate/obj
/HappyGenyuanImsactUpdate/Properties
/HDiffPatchCreator/bin
/HDiffPatchCreator/obj
/HDiffPatchCreator/Properties
/.vscode
/Release-windows7-x64
/Release-windows7-x86
/Updater-windows7-x86-packed-runtime
/Release-windows7-x86.zip
/Updater-windows7-x86-packed-runtime.zip
