/.vs
/Release-windows10-x64
/HappyGenyuanImsactUpdate/bin
/HappyGenyuanImsactUpdate/obj
/HappyGenyuanImsactUpdate/Properties
/HDiffPatchCreator/bin
/HDiffPatchCreator/obj
/HDiffPatchCreator/Properties
/.vscode